html{
    background-image: url("../pics/pexels-matheusnatan-3297593.jpg");
    background-repeat: no-repeat;
        background-size: cover;
}
.header{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
    
    
    
    .headerdiv{
        height: 100px;
        position: absolute;
        margin-top: 20px;
        .registerP{
            color: purple;
            font-family: "Oswald", sans-serif;
            font-size: 70px;
            font-weight: bold;  
            margin: 20px;

        }
    }


    .linkedbutton{
        margin-left: 90%;
        .maintravel{
                height:50px;
                width:70px;
                
                
                
            }
    }
    
}



.main{
    display: flex;
    align-items: center;
    justify-content: center;
    
    .maindiv{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;





       
                    

        .form{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center ;
             .label{
                            font-family: "Oswald", sans-serif;
                            color: purple;
                            font-size: 30px;
                            padding-top: 10px;
                            margin-bottom: 10px;
                            margin-top:10px;



                        }

                            .Shareddiv{


                            display: flex;
                            justify-content: center;
                            align-items: center;
                            flex-direction: column;

                                





                                .Sharedclass{
                                    border:solid purple 2px;
                                    height: 60px;
                                    width: 250px;
                                    cursor: pointer;
                                    font-family: "Oswald", sans-serif;
                                    text-align: center;
                                    color: purple;
                                    border-radius: 10px;
                                    background-color: rgba(255, 255, 255, 0.5);


                                    &:focus::placeholder{
                                        opacity: 0;
                                    }

                                    &::placeholder{
                                        color: purple;
                                    }


                                    
                                    
                                    
                                }

                
                }







                        .Buttons{
                                    height: 60px;
                                    width:120px;
                                    margin-top: 10px;
                                    border-radius: 10px;
                                    border: solid purple 2px;
                                    background-color: rgba(255, 255, 255, 0.5);
                                    color: purple;
                                    font-family: "Oswald", sans-serif;


                                    
                                }
                        








        }

        


        
    }
}