body{
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), 
                      url("../pics/weed.webp");
    
    background-repeat: no-repeat;
    background-size: cover;



    
    .header{
        display: flex;
        width:100%;
        align-items: center;
        justify-content: center;
        height:150px;

        .loginlabel{
            color:rgb(255, 255, 255);
            font-family: "Oswald", sans-serif;
            font-size: 100px;

        }
    }

    .loginform{
        display: flex;
        flex-direction: column;
        align-items: center;

        
        .dir{
            margin-top: 10px;
            color: gray;
            font-size: 30px;
            font-family: "Oswald", sans-serif;
            font-optical-sizing: auto;
            font-weight: weight;
            font-style: normal;
            padding-bottom: 10px;

        }
        .inputkeys{
            /* From Uiverse.io by Yaseen549 */ 
            
            color: white;
            border: 2px solid #303030;
            border-radius: 10px;
            padding: 10px 25px;
            background: transparent;
            max-width: 190px;
            height: 50px;
            width: 200px;
            font-family: "Oswald", sans-serif;
            box-shadow: 2px 2px 15px rgb(255, 255, 255);
            font-size: 18px;
            &:active {
            box-shadow: 2px 2px 15px #8707ff inset;
            }
            }

            

        }
    

        .passdiv{
            display: flex;
            flex-direction: column;
            align-items: center;
            .showbutton{
                width:70px;
                border: solid;
                border-color: rgb(174, 0, 255);
                border-radius: 5px;
                color:purple;
                font-family: "Oswald", sans-serif;
                margin-top: 10px;
                background-color: rgb(255, 255, 255, 0.5);

            }
            .loginbutton{
                /* From Uiverse.io by Yaseen549 */ 
                margin-top: 10px;
                color: rgb(255, 208, 0);
                border: 2px solid #99a300;
                border-radius: 30px;
                padding: 10px 25px;
                background: transparent;
                max-width: 190px;
                height: 80px;
                width: 200px;
                font-size: 22px;
                font-family: "Oswald", sans-serif;
                cursor: pointer;


                &:active {
                box-shadow: 2px 2px 15px #8707ff inset;
                }

            }
        }
        
        
        
    }


    .footer{
        .footerdiv{
            padding-top: 50px;
            display: flex;
            align-items: center;
            justify-content: center;
            .registernow{
                color:rgb(255, 255, 255);
                text-decoration: none;
                font-family: "Oswald", sans-serif;
                font-size: 40px;

                
            }
        }
    }
