body{
    background-image: url('pics/backgr.avif');
    background-repeat: no-repeat;
    background-size: cover;
    .header{
        display: flex;
        width:100%;
        align-items: center;
        justify-content: center;
        height:150px;

        .loginlabel{
            color:purple;
            font-family: "Oswald", sans-serif;
            font-size: 100px;

        }
    }

    .loginform{
        display: flex;
        flex-direction: column;
        align-items: center;

        
        .dir{
            margin-top: 10px;
            color: purple;
            font-size: 30px;
            font-family: "Oswald", sans-serif;
            font-optical-sizing: auto;
            font-weight: weight;
            font-style: normal;

        }
        .inputkeys{
            margin-top: 20px;
            width:500px;
            height:100px;
            border: solid 5px;
            border-color: rgb(174, 0, 255);
            border-radius: 20px;
            color: purple;
            text-align: center;
            font-size: 20px;
            font-family: "Oswald", sans-serif;
            background-color: rgba(255, 255, 255, 0.5);
        

            
            
            &::placeholder{
            color:purple;
            font-family: "Oswald", sans-serif;
            font-optical-sizing: auto;
            font-weight: weight;
            font-style: normal;
            text-align: center;
            font-size: 20px;
            
            
            
        }
        &:focus::placeholder {
                opacity: 0;
            }
        }

        .passdiv{
            display: flex;
            flex-direction: column;
            align-items: center;
            .showbutton{
                width:70px;
                border: solid;
                border-color: rgb(174, 0, 255);
                border-radius: 5px;
                color:purple;
                font-family: "Oswald", sans-serif;
                margin-top: 10px;
                background-color: rgb(255, 255, 255, 0.5);

            }
            .loginbutton{
                width:180px;
                height:80px;
                border: solid;
                border-color: rgb(174, 0, 255);
                border-radius: 10px;
                color:purple;
                font-family: "Oswald", sans-serif;
                font-size: 30px;
                margin-top: 10px;
                background-color: rgb(255, 255, 255, 0.5);
            }
        }
        
        
        
    }


    .footer{
        .footerdiv{
            padding-top: 50px;
            display: flex;
            align-items: center;
            justify-content: center;
            .registernow{
                color:rgb(162, 0, 255);
                text-decoration: none;
                font-family: "Oswald", sans-serif;
                font-size: 40px;

                
            }
        }
    }
}