html{
    background-image: url("../pics/pexels-matheusnatan-3297593.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}




.mainheader{

    display: flex;
    flex-direction: row;
    .morediv{
        height:100vh;
        width:200px;
        border: solid black;
    }
    .stuffdiv{
        width: 100vw;
        height: 100vhpx;
        border:solid black;
        margin-left: 10px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;

        .headofpage{
            width: 98%;
            height:200px;
            border: solid black;
            margin-top: 10px;
            background-color: purple;
        }

        .mainstuff{
            
            height: 98%;
            width: 98%;
            border: solid black;
            margin-top:10px;
            margin-bottom: 10px;
            display: flex;
            flex-direction: row;
            

            .classesdiv{
                width: 40%;
                height: 95%;
                border: solid black;
                margin-top: 10px;
                margin-bottom: 10px;
                margin-left: 20px;
                display: flex;
                flex-direction: column;
              
                align-items: center;
                justify-content: space-between;
                
                



                .calendar{
                    width: 96%;
                    height: 100px;
                    border: solid black;
                    margin-top: 10px;
                    


                }

                .class{
                    height:100px;
                    width: 96%;
                    border:solid black;
                    margin-bottom: 10px;

                }



            }
            .nextday{
                height: 100px;
                width:200px;
                border:solid black;
                margin-top: 10px;
                margin-left: 10px;
                

                .nextdayB{
                    height: 100px;
                    width: 200px;
                    cursor: pointer;
                }

            }
        }

    }

}