<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style/style3.css') }}">

    <title>Document</title>
</head>
<body>
    <header class="mainheader">
            <div class="morediv">

                </div>


                    <div class="stuffdiv">

                        <div class="headofpage">

                        </div>
                        <!-- -->


                        <!--    -->
                        <div class="mainstuff">

                            <div class="classesdiv">
                                <div class="calendar">
                                </div>



                                <div class="class">
                                </div>



                                <div class="class">
                                </div>



                                <div class="class">
                                </div>

                            </div>



                            <div class="nextday">
                                <button class="nextdayB">

                                </button>

                            </div>

                        </div>

                    </div>
                        <!--    -->


                </div>




            </div>
    </header>
    
</body>
</html>